/*<meta />*/

span.Bullet
{
	font-family: Wingdings;
	font-size: 7pt;
	color: #929497;
	line-height: 9pt;
}

span.zTitleNo
{
	font-weight: bold;
	font-style: normal;
	line-height: 12pt;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

span.Navigation
{
	font-weight: bold;
}

span.Emphasis
{
	font-style: italic;
}

span.CLI
{
	font-family: 'Courier New';
	font-size: 9pt;
	line-height: 11pt;
}

span.CLI_Bold
{
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 9pt;
	line-height: 11pt;
}

span.Red
{
	color: #ff0000;
}

span.Subscript
{
	font-size: 80%;
	vertical-align: sub;
}

span.Superscript
{
	font-size: 80%;
	vertical-align: super;
}

span.URL
{
	font-family: 'ITC Century Std Book';
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
	letter-spacing: 0em;
	color: #5289ae;
	line-height: 12pt;
	text-decoration: none;
}

span.PMS_144
{
	color: #f7961c;
}

span.PMS_646
{
	color: #5289ae;
}

span.Cool_Grey_9
{
	color: #929497;
}

span.Cool_Grey_11
{
	color: #515151;
}

p.Body
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Chapter_Number
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-weight: bold;
	font-style: normal;
	font-size: 17pt;
	mc-hyphenate: never;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	text-indent: 0px;
	line-height: 20pt;
	text-decoration: none;
	mc-auto-number-format: 'GC:Chapter {n+}';
	page-break-before: always;
	font-family: Arial;
	color: #2f4f4f;
}

p.Chapter_Title
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 40pt;
	margin-bottom: 0pt;
	font-weight: bold;
	font-style: normal;
	font-size: 14pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 16pt;
	text-decoration: none;
	font-family: Arial;
	color: #2f4f4f;
}

p.Footnote
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0.25in;
	margin-top: 1pt;
	margin-bottom: 1pt;
	font-family: 'ITC Century Std Book';
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: -19px;
	line-height: 10pt;
	text-decoration: none;
	color: #808080;
}

h1._1Heading
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 23pt;
	margin-bottom: 6pt;
	font-weight: bold;
	font-style: normal;
	font-size: 15pt;
	letter-spacing: 0em;
	color: #f7961c;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 16pt;
	text-decoration: none;
	page-break-before: avoid;
	font-family: Arial;
}

h2._2Heading
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 15pt;
	margin-bottom: 6pt;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	font-size: 14pt;
	font-family: Arial;
	color: #2f4f4f;
}

h3._3Heading
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 6pt;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	color: #4682b4;
	font-size: 12pt;
	font-family: Arial;
}

h4._4Heading
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 10pt;
	margin-bottom: 6pt;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Body_Lead-in
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 3pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Bullet_1
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: ' ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: Bullet;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 25px;
	mc-auto-number-offset: 25px;
}

p.Body_in_Bullet_Step
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 25px;
}

p.Bullet_2
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: ' ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: Bullet;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 50px;
	mc-auto-number-offset: 25px;
}

p.Body_in_Sub-Bullet_Sub-Step
{
	text-align: left;
	margin-left: 0.4in;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Step_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 'S:{n=1}.';
	mc-auto-number-position: outside-head;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 25px;
	mc-auto-number-offset: 25px;
}

p.Bullet_in_Steps
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: ' ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: Bullet;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 50px;
	mc-auto-number-offset: 25px;
}

p.Bullet_2_in_Steps
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: ' ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: Bullet;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 75px;
	mc-auto-number-offset: 25px;
}

p.Step_Next
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-position: outside-head;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	mc-auto-number-format: 'S:{n+}.  ';
	margin-left: 25px;
	mc-auto-number-offset: 25px;
}

p.Step_Sub_1st
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 's:{a=1}. ';
	mc-auto-number-position: outside-head;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	mc-auto-number-offset: 25px;
	margin-left: 50px;
}

p.Bullet_in_Sub-Steps
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: ' ';
	mc-auto-number-position: outside-head;
	mc-auto-number-class: Bullet;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 75px;
	mc-auto-number-offset: 25px;
}

p.Step_Sub_Next
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 's:{a+}.';
	mc-auto-number-position: outside-head;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 50px;
	mc-auto-number-offset: 25px;
}

p.Step_1st_in_Bullet
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 'r:{n=1}.';
	mc-auto-number-position: outside-head;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 50px;
	mc-auto-number-offset: 25px;
}

p.Step_Next_in_Bullet
{
	text-align: left;
	margin-right: 0in;
	margin-top: 4pt;
	margin-bottom: 4pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 'r:{n+}.';
	mc-auto-number-position: outside-head;
	line-height: 13pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	margin-left: 50px;
	mc-auto-number-offset: 25px;
}

p.Callout
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 1pt;
	margin-bottom: 1pt;
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
	font-family: Arial;
	color: #2f4f4f;
}

p.Figure_Title
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 8pt;
	margin-bottom: 0pt;
	font-weight: normal;
	font-style: italic;
	mc-hyphenate: never;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	mc-auto-number-class: zTitleNo;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	page-break-after: avoid;
	mc-auto-number-format: 'GF:Figure {n+}';
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Anchor
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	font-family: 'ITC Century Std Light';
	font-style: normal;
	font-size: 4pt;
	letter-spacing: 0em;
	color: #000000;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 4pt;
	text-decoration: none;
}

p.CLI
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
	color: #808080;
}

p.CLI_Indented
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
	color: #808080;
}

p.URL
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-family: 'HelveticaNeueLT Std';
	font-weight: normal;
	font-style: normal;
	font-size: 9pt;
	letter-spacing: 0em;
	color: #5289ae;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 11pt;
	text-decoration: none;
}

p.zIconNote
{
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'ITC Century Std Light';
	font-style: normal;
	font-size: 4pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 4pt;
	text-decoration: none;
	background-image: url('../Images/aruba_note.png');
	height: 45px;
	background-repeat: no-repeat;
	text-align: center;
	color: #808080;
}

p.zTextNote
{
	text-align: left;
	margin-left: 0.03in;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	padding-bottom: 4px;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
	padding-right: 0px;
	margin-right: 0in;
}

p.zIconCaution
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'ITC Century Std Light';
	font-style: normal;
	font-size: 4pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 4pt;
	text-decoration: none;
	background-image: url('../Images/aruba_caution.png');
	background-repeat: no-repeat;
	height: 45px;
	color: #808080;
}

p.zWarningText
{
	text-align: left;
	margin-left: 0.03in;
	margin-right: 0.1in;
	margin-top: 5pt;
	margin-bottom: 5pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	border-bottom: solid 1px #000000;
	border-top: solid 1px #000000;
	padding-bottom: 4px;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.zIconWarning
{
	text-align: center;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: 'ITC Century Std Light';
	font-style: normal;
	font-size: 4pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 4pt;
	text-decoration: none;
	background-image: url('../Images/aruba_warning.png');
	background-repeat: no-repeat;
	height: 45px;
	color: #808080;
}

p.Table_Heading
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 12pt;
	text-decoration: none;
	color: #ffffff;
	font-size: 12pt;
	font-family: Arial;
}

p.Table_Body
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Table_Note
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 'NOTE: ';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	mc-auto-number-class: Navigation;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Table_Bullet
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: ' ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: Bullet;
	line-height: 10pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Table_Body_in_Bullet_Step
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: 0px;
	line-height: 10pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Table_Step_1st
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 'S:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	line-height: 10pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Table_Step_Next
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0in;
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-format: 'S:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	line-height: 10pt;
	text-decoration: none;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.Table_Title
{
	text-align: left;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0em;
	mc-hyphenate: never;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0px;
	mc-auto-number-class: zTitleNo;
	text-indent: 0px;
	line-height: 13pt;
	text-decoration: none;
	mc-auto-number-format: 'GT:Table {n+}';
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

p.TableFootnote
{
	text-align: left;
	margin-left: 0.2in;
	margin-right: 0.25in;
	margin-top: 1pt;
	margin-bottom: 1pt;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
	letter-spacing: 0em;
	mc-hyphenate: never;
	text-indent: -19px;
	line-height: 10pt;
	text-decoration: none;
	font-family: Arial;
	color: #2f4f4f;
}

MadCap|xref.App____Title__And_Page__
{
	mc-format: '{Default ¹ Font}{PMS 646}{paranum[Appendix Number]}, “{paratext[Appendix Title]}” on page†{page}';
}

MadCap|xref.Chap____Title__And_Page__
{
	mc-format: '{Default ¹ Font}{PMS 646}{paranum[Chapter Number]}, “{paratext[Chapter Title]}” on page†{page}';
}

MadCap|xref.Heading_And_Page__
{
	mc-format: '{paratext}';
}

MadCap|xref.Step___And_Page__
{
	mc-format: '{Default ¹ Font}{PMS 646}step†{paranumonly} on page {page}';
}

MadCap|xref.Table_Figure___And_page__
{
	mc-format: '{Default ¹ Font}{PMS 646}{paranum} on page {page}';
}

MadCap|xref
{
	mc-format: ;
}

MadCap|xref.iap
{
	mc-format: 'Managing IAPs';
}

MadCap|xref.paratext
{
	mc-format: '{paratext}';
}

MadCap|xref.iapsettings
{
	mc-format: 'Editing IAP Settings';
}

MadCap|xref.airwavesetup
{
	mc-format: 'AirWave Setup';
}

MadCap|xref.configuringairwave
{
	mc-format: 'Configuring AirWave';
}

MadCap|xref.rebooting
{
	mc-format: 'Rebooting the IAP';
}

MadCap|xref.table
{
	mc-format: '{paranum}';
}

MadCap|xref.step
{
	mc-format: 'Step {paranum}';
}

MadCap|xref.figure
{
	mc-format: '{paranum}';
}

MadCap|xref.loadingcerts
{
	mc-format: 'Loading Certificates using AirWave';
}

MadCap|xref.iap2
{
	mc-format: 'Entering the Organization String and AMP Information into the IAP';
}

p.Appendix_Number
{
	font-size: 17pt;
	font-weight: bold;
	font-style: normal;
	page-break-before: always;
	color: #2f4f4f;
	font-family: Arial;
}

img
{
	
}

@media non-print
{
	img
	{
		mc-thumbnail: normal;
	}

	p
	{
		color: #808080;
	}

	p.Body
	{
		color: #2f4f4f;
	}

	p.Body_in_Bullet_Step
	{
		color: #2f4f4f;
	}

	p.Body_in_Sub-Bullet_Sub-Step
	{
		color: #2f4f4f;
	}

	p.Body_Lead-in
	{
		color: #2f4f4f;
	}

	p.Bullet_1
	{
		color: #2f4f4f;
	}

	p.Bullet_2
	{
		color: #2f4f4f;
	}

	p.Bullet_2_in_Steps
	{
		color: #2f4f4f;
	}

	p.Bullet_in_Steps
	{
		color: #2f4f4f;
	}

	p.Bullet_in_Sub-Steps
	{
		color: #2f4f4f;
	}

	p.Callout
	{
		color: #2f4f4f;
	}

	p.Chapter_Number
	{
		color: #2f4f4f;
	}

	p.Chapter_Title
	{
		color: #2f4f4f;
		font-size: 17pt;
	}

	p.CLI
	{
		color: #808080;
	}

	p.CLI_Indented
	{
		color: #808080;
	}

	p.Figure_Title
	{
		color: #2f4f4f;
	}

	p.Footnote
	{
		color: #2f4f4f;
	}

	p.Step_1st
	{
		color: #2f4f4f;
	}

	p.Step_1st_in_Bullet
	{
		color: #2f4f4f;
	}

	p.Step_Next
	{
		mc-auto-number-format: 'S:{n+}.';
		color: #2f4f4f;
	}

	p.Step_Next_in_Bullet
	{
		color: #2f4f4f;
	}

	p.Step_Sub_1st
	{
		color: #2f4f4f;
	}

	p.Step_Sub_Next
	{
		color: #2f4f4f;
	}

	p.Table_Body
	{
		color: #2f4f4f;
	}

	p.Table_Body_in_Bullet_Step
	{
		color: #2f4f4f;
	}

	p.Table_Bullet
	{
		color: #2f4f4f;
	}

	p.Table_Note
	{
		color: #2f4f4f;
	}

	p.Table_Step_1st
	{
		color: #2f4f4f;
	}

	p.Table_Step_Next
	{
		color: #2f4f4f;
	}

	p.Table_Title
	{
		color: #2f4f4f;
	}

	p.TableFootnote
	{
		color: #2f4f4f;
	}

	h1
	{
		color: #808080;
	}

	h2
	{
		color: #808080;
	}

	h2._2Heading
	{
		color: #2f4f4f;
	}

	h3
	{
		color: #808080;
	}

	h4
	{
		color: #808080;
	}

	h4._4Heading
	{
		color: #2f4f4f;
	}

	body
	{
		color: #2f4f4f;
	}

	p.Appendix_Number
	{
		color: #2f4f4f;
	}

	MadCap|variable
	{
		color: #ff0000;
	}

	p.Doc_Type
	{
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 30pt;
		color: #2f4f4f;
	}

	p.Doc_Title
	{
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 30pt;
		color: #2f4f4f;
	}

	p.Appendix_Title
	{
		font-family: Arial;
		color: #2f4f4f;
		font-size: 17pt;
		font-weight: bold;
		font-style: normal;
	}

	p.Output
	{
		color: #2f4f4f;
	}

	p.Table_Bullet2
	{
		color: #2f4f4f;
	}

	p.TOC_Title
	{
		color: #2f4f4f;
	}

	p.zTextCaution
	{
		color: #2f4f4f;
	}
}

p
{
	color: #808080;
}

h1
{
	font-family: 'HelveticaNeueLT Std';
	font-size: 15pt;
	font-weight: bold;
	font-style: normal;
	color: #ffa500;
}

h2
{
	color: #808080;
}

h3
{
	color: #808080;
}

h4
{
	color: #808080;
}

span
{
	
}

p.Output
{
	margin-top: 2pt;
	margin-bottom: 2pt;
	font-family: 'Courier New';
	font-weight: normal;
	font-style: normal;
	font-size: 7.5pt;
	letter-spacing: 0em;
	line-height: 8pt;
	text-decoration: none;
	color: #808080;
}

@media print
{
	MadCap|variable.right
	{
		margin-right: 15px;
	}

	MadCap|variable.left
	{
		
	}

	p.TOC1
	{
		color: #ffa500;
	}

	h1._1Heading
	{
		mc-heading-level: 2;
	}

	h1.TOC_hide
	{
		mc-heading-level: 0;
	}

	p.Chapter_Number
	{
		color: #f5f5f5;
		text-align: right;
		font-size: 14pt;
		line-height: 14pt;
		page-break-after: avoid;
		margin-left: 0in;
		margin-right: 0in;
		margin-bottom: 6pt;
		margin-top: 10px;
	}

	p.Chapter_Title
	{
		bottom: 10pt;
		color: #f5f5f5;
		margin: 0;
		margin-bottom: 30pt;
		text-align: right;
		mc-heading-level: 1;
	}

	p.Appendix_Number
	{
		color: #f5f5f5;
		text-align: right;
		font-size: 14pt;
		line-height: 14pt;
		margin-top: 10pt;
		margin-bottom: 6pt;
	}

	p.Appendix_Title
	{
		bottom: 10pt;
		color: #f5f5f5;
		margin: 0;
		margin-bottom: 30pt;
		text-align: right;
		mc-heading-level: 1;
		font-size: 14pt;
	}

	p.Table_Title
	{
		page-break-after: avoid;
	}

	p.Step_Next
	{
		mc-auto-number-format: 'S:{n+}.  ';
	}

	p.Doc_Type
	{
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 30pt;
		color: #2f4f4f;
	}

	p.Doc_Title
	{
		font-family: Arial;
		font-weight: bold;
		font-style: normal;
		font-size: 30pt;
		color: #2f4f4f;
		text-align: center;
	}

	p.Step_1st
	{
		page-break-after: avoid;
	}

	h1
	{
		mc-heading-level: 2;
	}

	h2
	{
		mc-heading-level: 3;
	}

	h3
	{
		mc-heading-level: 4;
	}

	h4
	{
		mc-heading-level: 5;
	}

	h5
	{
		mc-heading-level: 6;
	}

	h6
	{
		mc-heading-level: 7;
	}

	MadCap|xref.Heading_And_Page__
	{
		mc-format: '{paratext} on page {page}';
	}
}

h5
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	color: #2f4f4f;
	font-family: Arial;
}

p.TOC1
{
	mc-auto-number-format: ;
	font-family: Arial;
	color: #2f4f4f;
}

p.TOC2
{
	font-family: Arial;
	color: #2f4f4f;
}

p.TOC3
{
	font-family: Arial;
	color: #2f4f4f;
}

p.TOC4
{
	font-family: Arial;
	color: #2f4f4f;
}

p.TOC5
{
	font-family: Arial;
	color: #2f4f4f;
}

p.TOC6
{
	font-family: Arial;
	color: #2f4f4f;
}

p.ListOf
{
	font-family: 'ITC Century Std Book';
}

h1.TOC_hide
{
	font-family: 'HelveticaNeueLT Std';
	font-size: 15pt;
	font-weight: bold;
	font-style: normal;
	color: #ffa500;
}

MadCap|xref.ClearPassGuest
{
	mc-format: 'Registering Devices in ClearPass Guest';
}

.MCTopicBody
{
	margin: 8px;
	font-size: 12pt;
	font-family: Arial;
	color: #2f4f4f;
}

MadCap|xref.IAPs
{
	mc-format: 'Managing IAPs';
}

@media DellPrint
{
	span.a
	{
		letter-spacing: 0em;
		color: #007cbc;
		line-height: 12pt;
		text-decoration: underline;
		font-family: 'Transit521 BT';
		font-size: 10pt;
		font-weight: bold;
		font-style: normal;
	}

	span.Bullet
	{
		font-family: Wingdings;
		font-size: 7pt;
		color: #929497;
		line-height: 9pt;
	}

	span.zTitleNo
	{
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 11pt;
		line-height: 13pt;
	}

	span.Navigation
	{
		font-weight: bold;
	}

	span.Emphasis
	{
		font-style: italic;
	}

	span.CLI
	{
		font-family: 'Courier New';
		font-size: 9pt;
		line-height: 11pt;
	}

	span.CLI_Bold
	{
		font-family: 'Courier New';
		font-weight: bold;
		font-size: 9pt;
		line-height: 11pt;
	}

	span.Page_Link
	{
		color: #007cbc;
	}

	span.Red
	{
		color: #ff0000;
	}

	span.Subscript
	{
		font-size: 80%;
		vertical-align: sub;
	}

	span.Superscript
	{
		font-size: 80%;
		vertical-align: super;
	}

	span.URL
	{
		font-weight: normal;
		font-style: normal;
		letter-spacing: 0em;
		color: #007cbc;
		line-height: 12pt;
		text-decoration: none;
	}

	span.Dell
	{
		font-weight: normal;
		font-style: normal;
		letter-spacing: 0em;
		color: #007cbc;
		text-decoration: none;
	}

	span.Cool_Grey_9
	{
		color: #a8a9ac;
	}

	span.Cool_Grey_11
	{
		color: #737373;
	}

	p.Doc_Title_single_pdf
	{
		font-family: 'Univers 67 Condensed Bold';
		margin: 0;
		font-size: 24pt;
		mc-auto-number-position: none;
		line-height: 26pt;
	}

	p.Chapter_Title_single
	{
		font-family: 'Univers 67 Condensed Bold';
		margin: 0;
		font-size: 24pt;
		mc-heading-level: 1;
	}

	p.Doc_Title
	{
		text-align: right;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 36pt;
		letter-spacing: 0em;
		color: #737373;
		mc-hyphenate: never;
		text-indent: 0px;
		text-decoration: none;
	}

	p.Doc_Type
	{
		text-align: right;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: normal;
		font-style: normal;
		font-size: 32pt;
		letter-spacing: 0em;
		color: #a8a9ac;
		mc-hyphenate: never;
		text-indent: 0px;
		text-decoration: none;
	}

	p.Chapter_Number
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 17pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0px;
		text-indent: 0px;
		line-height: 20pt;
		text-decoration: none;
		mc-auto-number-format: 'GC:Chapter {n+} ';
	}

	p.Chapter_Title
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 30pt;
		margin-bottom: 18pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 14pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 16pt;
		text-decoration: none;
		mc-heading-level: 1;
	}

	p.Appendix_Number
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 17pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0px;
		text-indent: 0px;
		line-height: 20pt;
		text-decoration: none;
		mc-auto-number-format: 'GA:Appendix {A+}';
	}

	p.Appendix_Title
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 15pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 14pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 16pt;
		text-decoration: none;
		mc-heading-level: 1;
	}

	h1._1Heading
	{
		font-family: 'Univers 67 Condensed Bold';
		font-size: 16pt;
		color: #000000;
		page-break-after: avoid;
		mc-heading-level: 2;
	}

	h1._1CmdHeading
	{
		font-family: 'Univers 67 Condensed Bold';
		font-size: 16pt;
		color: #000000;
	}

	h2._2Heading
	{
		font-family: 'Univers 67 Condensed Bold';
		font-size: 14pt;
		page-break-after: avoid;
		mc-heading-level: 3;
	}

	h3._3Heading
	{
		font-family: 'Univers 67 Condensed Bold';
		font-size: 12pt;
		color: #000000;
		page-break-after: avoid;
		mc-heading-level: 4;
	}

	h4._4Heading
	{
		font-family: 'Univers 67 Condensed Bold';
		font-size: 11pt;
		page-break-after: avoid;
		mc-heading-level: 5;
	}

	p.Body
	{
		font-family: 'Transit521 BT';
	}

	p.Body_in_Bullet_Step
	{
		font-family: 'Transit521 BT';
	}

	p.Body_in_Sub-Bullet_Sub-Step
	{
		font-family: 'Transit521 BT';
	}

	p.Body_Lead-in
	{
		font-family: 'Transit521 BT';
	}

	p.Bullet_1
	{
		font-family: 'Transit521 BT';
		mc-auto-number-format: ' ';
	}

	p.Bullet_2
	{
		font-family: 'Transit521 BT';
		mc-auto-number-format: ' ';
	}

	p.Bullet_2_in_Steps
	{
		font-family: 'Transit521 BT';
		mc-auto-number-format: ' ';
	}

	p.Bullet_in_Steps
	{
		font-family: 'Transit521 BT';
		mc-auto-number-format: ' ';
	}

	p.Bullet_in_Sub-Steps
	{
		font-family: 'Transit521 BT';
		mc-auto-number-format: ' ';
	}

	p.IndexHeading
	{
		font-family: 'Univers 67 Condensed Bold';
	}

	p.ListOf
	{
		font-family: 'Univers 67 Condensed Bold';
	}

	p.MiniTOC1
	{
		font-family: 'Univers 57 Condensed';
	}

	p.MiniTOC2
	{
		font-family: 'Univers 67 Condensed Bold';
	}

	p.MiniTOC3
	{
		font-family: 'Univers 67 Condensed Bold';
	}

	p.Step_1st
	{
		font-family: 'Transit521 BT';
	}

	p.Step_1st_in_Bullet
	{
		font-family: 'Transit521 BT';
	}

	p.Step_Next
	{
		font-family: 'Transit521 BT';
	}

	p.Step_Next_in_Bullet
	{
		font-family: 'Transit521 BT';
	}

	p.Step_Sub_1st
	{
		font-family: 'Transit521 BT';
	}

	p.Step_Sub_Next
	{
		font-family: 'Transit521 BT';
	}

	p.Table_Heading
	{
		font-family: 'Univers 57 Condensed';
	}

	p.Table_Body
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 10pt;
		text-decoration: none;
		font-size: 12pt;
	}

	p.Table_Body_in_Bullet_Step
	{
		font-family: 'Univers 57 Condensed';
		color: #000000;
	}

	p.Table_Bullet
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: ' ';
		color: #000000;
	}

	p.Table_Bullet2
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: ' ';
		color: #000000;
	}

	p.Table_Note
	{
		font-family: 'Univers 57 Condensed';
		color: #000000;
	}

	p.Table_Step_1st
	{
		font-family: 'Univers 57 Condensed';
		color: #000000;
	}

	p.Table_Step_Next
	{
		font-family: 'Univers 57 Condensed';
		color: #000000;
	}

	p.zTextCaution
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: 'CAUTION: ';
		color: #737373;
	}

	p.zTextNote
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: 'NOTE: ';
		color: #737373;
		padding-top: 0px;
		padding-bottom: 4px;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #000000;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
	}

	p.zWarningText
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: 'WARNING: ';
		font-weight: bold;
	}

	p.zIconNote
	{
		background-image: url('../images/dell_note.png');
	}

	p.zIconWarning
	{
		background-image: url('../images/dell_warning.png');
	}

	p.zIconCaution
	{
		background-image: url('../images/dell_caution.png');
	}

	p.Table_Title
	{
		page-break-after: avoid;
		mc-auto-number-format: 'GT:Table {n+}';
		color: #000000;
	}

	p.Figure_Title
	{
		page-break-after: avoid;
		mc-auto-number-format: 'GF:Figure {n+}';
	}

	p.TOC_Title
	{
		font-size: 16pt;
		line-height: 16pt;
		font-family: 'Univers 57 Condensed';
		font-weight: bold;
		font-style: normal;
	}

	p.Anchor
	{
		page-break-after: avoid;
	}

	img
	{
		max-width: 4.5in;
		mc-printer-page-size: a4;
	}

	MadCap|xref
	{
		font-family: 'Transit521 BT';
		color: #007cbc;
		text-decoration: underline;
	}

	MadCap|xref.FigureNum
	{
		color: #007cbc;
		mc-format: '{paranumonly}';
		font-family: 'Transit521 BT';
		text-decoration: none;
	}

	MadCap|xref.Heading_And_Page__
	{
		color: #007cbc;
		mc-format: '"{paratext}" on page {page}';
		font-family: 'Transit521 BT';
		text-decoration: none;
	}

	MadCap|xref.Heading_And_Page
	{
		color: #007cbc;
		mc-format: '"{paratext}" on page {page}';
		font-family: 'Transit521 BT';
		text-decoration: none;
	}

	MadCap|xref.Chap____Title__And_Page__
	{
		mc-format: '{paratext} on page {page}';
		font-family: 'Transit521 BT';
		color: #007cbc;
		text-decoration: none;
	}

	MadCap|xref.Step___And_Page__
	{
		mc-format: 'step {paranumonly} on page {page}';
		font-family: 'Transit521 BT';
		color: #007cbc;
		text-decoration: none;
	}

	MadCap|xref.Table_Figure___And_page__
	{
		color: #007cbc;
		font-family: 'Transit521 BT';
		mc-format: '{paranumonly}';
		text-decoration: none;
	}

	MadCap|xref.App____Title__And_Page__
	{
		mc-format: '{paratext} on page {page}';
		font-family: 'Transit521 BT';
		color: #007cbc;
		text-decoration: none;
	}

	MadCap|xref.TOCPageNumber
	{
		mc-format: '{paratext} on page {page}';
		font-family: 'Transit521 BT';
		text-decoration: none;
		color: #000000;
	}

	a
	{
		font-weight: bold;
		font-style: normal;
		font-family: 'Transit521 BT';
		color: #007cbc;
		font-size: ;
	}

	td.footer
	{
		font-family: 'Helvetica NeueLT Std';
		font-size: 8pt;
	}

	p.TOC1
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC2
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC3
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC4
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC5
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC6
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC7
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC8
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	p.TOC9
	{
		font-family: 'Univers 57 Condensed';
		font-size: 10pt;
	}

	MadCap|tocProxy
	{
		color: #000000;
	}

	MadCap|variable
	{
		color: #000000;
	}

	p.TableFootnote
	{
		color: #000000;
	}
}

@media Dellnon-print
{
	MadCap|xref
	{
		font-family: 'Transit521 BT';
		color: #007cbc;
		text-decoration: none;
	}

	MadCap|xref.Heading_And_Page__
	{
		font-family: 'Transit521 BT';
		color: #007cbc;
		mc-format: '{paratext}';
	}

	MadCap|xref.Heading_And_Page
	{
		color: #007cbc;
		mc-format: '{paratext}';
	}

	MadCap|xref.Chap____Title__And_Page__
	{
		font-family: 'Transit521 BT';
		color: #007cbc;
		mc-format: '{paratext}';
	}

	MadCap|xref.App____Title__And_Page__ MadCap|xref.App____Title__And_Page__
	{
		font-family: 'Transit521 BT';
		mc-format: '{paratext}';
		color: #007cbc;
	}

	MadCap|xref.Table_Figure___And_page__
	{
		font-family: 'Transit521 BT';
		color: #007cbc;
		mc-format: '{paranumonly}';
	}

	MadCap|xref.Step___And_Page__
	{
		font-family: 'Transit521 BT';
		color: #007cbc;
		mc-format: 'step {paranumonly}';
	}

	span.Page_Link
	{
		color: #007cbc;
	}

	span.URL
	{
		letter-spacing: 0em;
		color: #007cbc;
		line-height: 12pt;
		text-decoration: underline;
		font-family: 'Transit521 BT';
		font-size: 10pt;
		font-weight: bold;
		font-style: normal;
	}

	span.a
	{
		letter-spacing: 0em;
		color: #007cbc;
		line-height: 12pt;
		text-decoration: none;
		font-family: 'Transit521 BT';
		font-size: 10pt;
		font-weight: bold;
		font-style: normal;
	}

	p.Doc_Title
	{
		text-align: right;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 6pt;
		margin-bottom: 6pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 30pt;
		letter-spacing: 0em;
		color: #515151;
		mc-hyphenate: never;
		text-indent: 0px;
		text-decoration: none;
	}

	p.Doc_Type
	{
		text-align: right;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 6pt;
		margin-bottom: 6pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: normal;
		font-style: normal;
		font-size: 31pt;
		letter-spacing: 0em;
		color: #929497;
		mc-hyphenate: never;
		text-indent: 0px;
		text-decoration: none;
	}

	p.Body
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 6pt;
		margin-bottom: 6pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Chapter_Number
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 17pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'Chapter {chapnum}';
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0px;
		text-indent: 0px;
		line-height: 20pt;
		text-decoration: none;
	}

	p.Chapter_Title
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 30pt;
		margin-bottom: 18pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 14pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 16pt;
		text-decoration: none;
	}

	p.Footnote
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0.25in;
		margin-top: 1pt;
		margin-bottom: 1pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 8pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: -19px;
		line-height: 10pt;
		text-decoration: none;
	}

	h1._1Heading
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 23pt;
		margin-bottom: 5pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 16pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 16pt;
		text-decoration: none;
	}

	h2._2Heading
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 14pt;
		margin-bottom: 5pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 12pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 12pt;
		text-decoration: none;
	}

	h3._3Heading
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 12pt;
		margin-bottom: 6pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 12pt;
		text-decoration: none;
	}

	h4._4Heading
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 10pt;
		margin-bottom: 6pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #515151;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 12pt;
		text-decoration: none;
	}

	p.Body_Lead-in
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 6pt;
		margin-bottom: 3pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Bullet_1
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: ' ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		mc-auto-number-class: Bullet;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Body_in_Bullet_Step
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Bullet_2
	{
		text-align: left;
		margin-left: 0.4in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: ' ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		mc-auto-number-class: Bullet;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Body_in_Sub-Bullet_Sub-Step
	{
		text-align: left;
		margin-left: 0.4in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Step_1st
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'S:{n=1}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Bullet_in_Steps
	{
		text-align: left;
		margin-left: 0.4in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: ' ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		mc-auto-number-class: Bullet;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Bullet_2_in_Steps
	{
		text-align: left;
		margin-left: 0.6in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: ' ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		mc-auto-number-class: Bullet;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Step_Next
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'S:{n+}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Step_Sub_1st
	{
		text-align: left;
		margin-left: 0.4in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 's:{a=1}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Bullet_in_Sub-Steps
	{
		text-align: left;
		margin-left: 0.6in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: ' ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		mc-auto-number-class: Bullet;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Step_Sub_Next
	{
		text-align: left;
		margin-left: 0.4in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 's:{a+}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Step_1st_in_Bullet
	{
		text-align: left;
		margin-left: 0.4in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'r:{n=1}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Step_Next_in_Bullet
	{
		text-align: left;
		margin-left: 0.4in;
		margin-right: 0in;
		margin-top: 4pt;
		margin-bottom: 4pt;
		font-family: 'Transit521 BT';
		font-weight: normal;
		font-style: normal;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'r:{n+}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Callout
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 1pt;
		margin-bottom: 1pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 11pt;
		text-decoration: none;
	}

	p.Figure_Title
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 8pt;
		margin-bottom: 0pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: italic;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0px;
		mc-auto-number-class: zTitleNo;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
		mc-auto-number-format: 'GF:Figure {n+}  ';
	}

	p.Anchor
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 12pt;
		font-family: 'ITC Century Std Light';
		font-style: normal;
		font-size: 4pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 4pt;
		text-decoration: none;
	}

	p.CLI
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Courier New';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 10pt;
		text-decoration: none;
	}

	p.CLI_Indented
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Courier New';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 10pt;
		text-decoration: none;
	}

	p.URL
	{
		letter-spacing: 0em;
		color: #008ee5;
		line-height: 12pt;
		text-decoration: underline;
		font-family: 'Transit521 BT';
		font-size: 10pt;
		font-weight: bold;
		font-style: normal;
	}

	p.zTextCaution
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: 'CAUTION: ';
	}

	p.zTextNote
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: 'NOTE: ';
	}

	p.zWarningText
	{
		font-family: 'Univers 57 Condensed';
		mc-auto-number-format: 'WARNING: ';
		font-weight: bold;
	}

	p.zIconNote
	{
		text-align: center;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Transit521 BT';
		font-style: normal;
		font-size: 4pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 4pt;
		text-decoration: none;
		background-repeat: no-repeat;
		background-image: url('../images/dell_note.png');
		height: 35px;
	}

	p.zIconCaution
	{
		text-align: center;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Transit521 BT';
		font-style: normal;
		font-size: 4pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 4pt;
		text-decoration: none;
		background-repeat: no-repeat;
		background-image: url('../images/dell_caution.png');
		height: 35px;
	}

	p.zIconWarning
	{
		text-align: center;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Transit521 BT';
		font-style: normal;
		font-size: 4pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 4pt;
		text-decoration: none;
		background-image: url('../images/dell_warning.png');
		background-repeat: no-repeat;
		height: 35px;
	}

	p.Table_Heading
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Univers 67 Condensed Bold';
		font-weight: bold;
		font-style: normal;
		font-size: 11pt;
		letter-spacing: 0em;
		color: #ffffff;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
	}

	p.Table_Body
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 10pt;
		text-decoration: none;
	}

	p.Table_Note
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'NOTE: ';
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0px;
		mc-auto-number-class: Navigation;
		text-indent: 0px;
		line-height: 10pt;
		text-decoration: none;
	}

	p.Table_Bullet
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: '* ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		mc-auto-number-class: Bullet;
		line-height: 10pt;
		text-decoration: none;
	}

	p.Table_Body_in_Bullet_Step
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: 0px;
		line-height: 10pt;
		text-decoration: none;
	}

	p.Table_Step_1st
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'S:{n=1}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 10pt;
		text-decoration: none;
	}

	p.Table_Step_Next
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0in;
		margin-top: 2pt;
		margin-bottom: 2pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 9pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-format: 'S:{n+}. ';
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 19.2px;
		line-height: 10pt;
		text-decoration: none;
	}

	p.Table_Title
	{
		text-align: left;
		margin-left: 0in;
		margin-right: 0in;
		margin-top: 0pt;
		margin-bottom: 0pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: italic;
		font-size: 10pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0px;
		mc-auto-number-class: zTitleNo;
		text-indent: 0px;
		line-height: 13pt;
		text-decoration: none;
		mc-auto-number-format: 'GT:Table {n+}  ';
	}

	p.TableFootnote
	{
		text-align: left;
		margin-left: 0.2in;
		margin-right: 0.25in;
		margin-top: 1pt;
		margin-bottom: 1pt;
		font-family: 'Univers 57 Condensed';
		font-weight: normal;
		font-style: normal;
		font-size: 8pt;
		letter-spacing: 0em;
		color: #000000;
		mc-hyphenate: never;
		text-indent: -19px;
		line-height: 10pt;
		text-decoration: none;
	}

	td.footer
	{
		font-family: 'HelveticaNeueLT Std Med';
		font-size: 8pt;
	}
}

p.Doc_Title
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 30pt;
	color: #2f4f4f;
}

p.Appendix_Title
{
	font-family: Arial;
	font-size: 17pt;
	color: #2f4f4f;
	font-weight: bold;
	font-style: normal;
}

MadCap|xref.Connecting
{
	mc-format: '{quote}Connecting the IAP to a Power Source{quote} on page {page}';
}

p.zTextCaution
{
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	color: #2f4f4f;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

td.footer
{
	text-align: right;
}

img
{
	mc-thumbnail: normal;
}

p
{
	color: #808080;
}

p.Body
{
	color: #2f4f4f;
}

p.Body_in_Bullet_Step
{
	color: #2f4f4f;
}

p.Body_in_Sub-Bullet_Sub-Step
{
	color: #2f4f4f;
}

p.Body_Lead-in
{
	color: #2f4f4f;
}

p.Bullet_1
{
	color: #2f4f4f;
}

p.Bullet_2
{
	color: #2f4f4f;
}

p.Bullet_2_in_Steps
{
	color: #2f4f4f;
}

p.Bullet_in_Steps
{
	color: #2f4f4f;
}

p.Bullet_in_Sub-Steps
{
	color: #2f4f4f;
}

p.Callout
{
	color: #2f4f4f;
}

p.Chapter_Number
{
	color: #2f4f4f;
}

p.Chapter_Title
{
	color: #2f4f4f;
	font-size: 17pt;
}

p.CLI
{
	color: #808080;
}

p.CLI_Indented
{
	color: #808080;
}

p.Figure_Title
{
	color: #2f4f4f;
}

p.Footnote
{
	color: #2f4f4f;
}

p.Step_1st
{
	color: #2f4f4f;
}

p.Step_1st_in_Bullet
{
	color: #2f4f4f;
}

p.Step_Next
{
	mc-auto-number-format: 'S:{n+}.';
	color: #2f4f4f;
}

p.Step_Next_in_Bullet
{
	color: #2f4f4f;
}

p.Step_Sub_1st
{
	color: #2f4f4f;
}

p.Step_Sub_Next
{
	color: #2f4f4f;
}

p.Table_Body
{
	color: #2f4f4f;
}

p.Table_Body_in_Bullet_Step
{
	color: #2f4f4f;
}

p.Table_Bullet
{
	color: #2f4f4f;
}

p.Table_Note
{
	color: #2f4f4f;
}

p.Table_Step_1st
{
	color: #2f4f4f;
}

p.Table_Step_Next
{
	color: #2f4f4f;
}

p.Table_Title
{
	color: #2f4f4f;
}

p.TableFootnote
{
	color: #2f4f4f;
}

h1
{
	color: #808080;
}

h2
{
	color: #808080;
}

h2._2Heading
{
	color: #2f4f4f;
}

h3
{
	color: #808080;
}

h4
{
	color: #808080;
}

h4._4Heading
{
	color: #2f4f4f;
}

body
{
	color: #2f4f4f;
}

p.Appendix_Number
{
	color: #2f4f4f;
}

MadCap|variable
{
	color: #ff0000;
}

p.Doc_Type
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 30pt;
	color: #2f4f4f;
}

p.Doc_Title
{
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	font-size: 30pt;
	color: #2f4f4f;
}

p.Appendix_Title
{
	font-family: Arial;
	color: #2f4f4f;
	font-size: 17pt;
	font-weight: bold;
	font-style: normal;
}

p.Output
{
	color: #2f4f4f;
}

p.Table_Bullet2
{
	color: #2f4f4f;
}

p.TOC_Title
{
	color: #2f4f4f;
}

p.zTextCaution
{
	color: #2f4f4f;
}

